@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-color:#f73471;
    --black:#000;
    --light-color:#868e96;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

::selection{
    background:var(--main-color);
    color: #fff;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #fafafa;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

section{
    padding: 2rem 9%;
}

.heading{
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-transform: uppercase;
}

.heading span{
    text-transform: uppercase;
    color: var(--main-color);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .0rem 3rem;
    background: #fff;
    font-weight:500 ;
    cursor: pointer;
    color: var(--main-color);
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--main-color);
    color: #fff;
    letter-spacing: .1rem;
}

/*--------------------*Header section start----------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,.1);
    box-shadow: 0rem .1rem .5rem rgba(0,0,0,.1);
    z-index: 1000;
}

.header .logo{
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.header .logo span{
    color: var(--main-color);
    text-transform: uppercase;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--main-color);
}

.header .icons div{
    font-size: 2.5rem;
    color: #222;
    padding: .5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.header .icons div:hover{
    transform: rotate(180deg);
    color: var(--main-color);
}

.header .icons a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: #fff;
    background: var(--main-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: none;
}

.header .icons a:hover{
color:var(--main-color);
background: #fff;
}

#menu-btn{
    display: none;
}

.header.active{
    padding: 2rem 9%;
    background: rgba(0,0,0,.9);
}
/*--------------------Header section ends----------*/
/*--------------------home section starts-----------*/
.home{
    padding: 0%;
}

.home .home-slider .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:rem;
    background-size:cover !important;
    background-position: center !important;
}

.home .home-slider .box .content{
    text-align: center;
    max-width: 70rem;
}

.home .home-slider .box .content h3{
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    transition-delay: .2s;
}

.home .home-slider .box .content p{
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
    transition-delay: .4s;
}

.home .home-slider .box .button .btn-1{
    background: var(--main-color);
    color: #fff;
    margin-right: 5rem;
}

.home .home-slider .box .button .btn-1:hover{
    background: #fff;
    color: var(--main-color);
}

.home .home-slider .box .button{
    transition-delay: .6s;
}

.home .home-slider .box .content > *{
    transform: translateY(2rem);
    opacity: 0;
}

.home .home-slider .swiper-slide-active .content > *{
    transform: translateY(0);
    opacity: 1;
}

/*-------home section ends-----------*/

/* ------feature section starts------- */
.feature .feature-slider{
    padding-bottom: 4rem;
}

.feature .feature-slider .box{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 1rem 0;
}

.feature .feature-slider .box .image{
    height: 40rem;
    width: 100%;
    overflow: hidden;
}

.feature .feature-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.feature .feature-slider .box:hover .image img{
    transform: scale(1.2);
}

.feature .feature-slider .box .content{
    padding: 1rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
}

.feature .feature-slider .box .content h3{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0,0,0,.3);
    padding: 2rem;
    margin-top: .5rem;
}

.feature .feature-slider .box .content .price{
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    background: var(--main-color);
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
}

.feature .feature-slider .box:hover .content .price{
    background: none;
    border: .3rem solid #fff;
}


/* ------feature section ends------- */

/* -------------Schedule section starts--------- */

.schedule{
    background: #eee;
}

.schedule .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem,1fr));
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.schedule .box-container .box{
    background: #fff;
    overflow: hidden;
}

.schedule .box-container .box .content{
    padding: 2rem;
}

.schedule .box-container .box .content h3{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: .5rem;
}

.schedule .box-container .box .content p{
    color: #333;
    font-size: 1.5rem;
    line-height: 1.8;
}

.schedule .box-container .box .icons{
    padding: 0 2rem;
}

.schedule .box-container .box .icons span{
    display: block;
    font-size: 1.3rem;
    color: #333;
    padding: .3rem 0; 
}

.schedule .box-container .box .icons span i{
    margin-right: .5rem;
} 

.schedule .box-container .box .btn{
    margin: 1.5rem 2rem;
    background: var(--main-color);
    color: #fff;
}

.schedule .box-container .box .btn:hover{
    background: #f66a97;
}

.schedule .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------Schedule section endss--------- */


/* ----------trainer section starts----------- */

.trainers .trainer-slider{
    padding-bottom: 4rem;
}

.trainers .trainer-slider .box{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 1rem 0;
}

.trainers .trainer-slider .box .image{
    height: 40rem;
    width: 100%;
    overflow: hidden;
}

.trainers .trainer-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.trainers .trainer-slider .box .name{
    padding: 2rem 0;
}

.trainers .trainer-slider .box .name h1{
    font-size: 3rem;
    color: #333;
    font-weight: 600;
}

.trainers .trainer-slider .box .name p{
    font-size: 2rem;
    color: #808080;
}

/* ----------trainer section ends----------- */

/* ----footer section starts------ */
.footer{
    background: #222;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    gap: 1.5rem;
}

.footer .box-container .box{
    padding: 2rem;
}

.footer .box-container .box h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding-bottom: 1rem;
}

.footer .box-container .box .text{
    color: #eee;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.8;
    padding-bottom: 1rem;
}

.footer .box-container .box .icon{
    padding: 1rem 0;
}


.footer .box-container .box .icon a i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--main-color);
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 .5rem;
    color: #fff;
}

.footer .box-container .box .icon a i:hover{
    color: var(--main-color);
    background: none;
    border: .2rem solid var(--main-color);
}

.footer .box-container .box .icons a{
    display: block;
    color: #fff;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.footer .box-container .box .icons a i{
    margin-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box .icons a:hover i{
    padding-right: 2rem;
    color: #fff;
}

.footer .box-container .box .icons a:hover{
    color: var(--main-color);
}

.footer .credit{
    padding: 3rem 0;
    text-align: center;
    border-top: .1rem solid #808080;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.footer .credit span{
    color: var(--main-color);
}



/* ----footer section endss------ */


/*----------------media query section---------*/

@media (max-width:991px){

    html{
        font-size:55% ;
    }

    .header{
        padding: 2rem;
    }

    .header.active{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}


/*------for maxwidth 768px-----*/

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position:absolute;
        top: 100%;
        right: 0;
        left: 0;
        background:rgba(0,0,0,.3);
        border-top: .1rem solid #eee;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
    
    .feature .feature-slider .box .content h3{
        padding: 1rem;
    }
}



/*------for maxwidth 450px-----*/
@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header .icons a{
        letter-spacing: none;
        font-size: 1.3rem;
        padding: 1rem;
    }
}